{% extends 'base.html' %}
{% block content %}
  <body>
    <main id="main">
      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Resume</h2>
            <p>I am working for one year in ertebatate baregheh pardis and in this company i am a python developer that i work with python and pyqt framework,in this position i develop the desktop applications that proccessing signal as real time received signals with python and show that to client.</p>
          </div>
        
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Bachelor of Mechanic Engineering </h4>
                <h5>September 2011 - September 2016</h5>
                <p>
                  <em>Azad Univeristy, Ramsar, Mazandaran</em>
                </p>
               
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Python Developer at Ertebatate Baregheh Pardis</h4>
                <h5>2023 - Present</h5>
                <p>
                  <em>Tehran</em>
                </p>
                <p>
                 
                  <li>Python developer at baregheh pardis in real time processing of signals</li>
                  
                </p>
                
              
              </div>

              <div class="col-lg-6">
                <h3 class="resume-title">Personal Experience</h3>
                <div class="resume-item">
                  <h4>RESTful E-Commerce API Using Django Rest Framework</h4>
                  <h5>March 2022 – May 2022</h5>
                  <p>
                    <em>Tehran</em>
                  </p>
                  <p>
                   
                    <li>• This is an E-commerce RESTful API which aims to be a backend
                      for an imaginary Online store shop. I’ve used Django Rest
                      Framework and Its features, trying to implement following
                      functionalities with best practices:
                      • Users registration and management (CRUD)
                      • Authenticate user access using JWT
                      • Cart management for each user (CRUD)
                      • Products details, pagination and filtering
                      • Swagger-UI for easy API presentation
                      • Admin API for overall management
                      Github Link: https://github.com/siavash71070/storefront</li>
                    
                  </p>
                  
                
                </div>
              </div>

              <div class="col-lg-6">
                <h3 class="resume-title">Prsonal Experience</h3>
                <div class="resume-item">
                  <h4>Full Stack Magazine and News Website Using Django Framework</h4>
                  <h5>December 2021 – February 2022</h5>
                  <p>
                    <em>Tehran</em>
                  </p>
                  <p>
                   
                    <li>This is an entertainment web site which contains magazines, news,
                      and blogs separated in multiple categories. The admin of site is
                      responsible for managing other staffs and set proper restrictions.
                      Each staff regard to his/her access, can create, update, delete
                      posts, news, categories, sub categories, comments, emails and
                      etc.
                      I’ve used Django Framework and ProUI template and customize
                      the template in order to implement full stack website
                      Github Link: https://github.com/siavash71070/magweb</li>
                    
                  </p>
                  
                
                </div>
        </div>
      </section>
      <!-- End Resume Section -->
    </main>
    <!-- End #main -->
  </body>
{% endblock %}
